# Project dependencies
.cache
node_modules
yarn-error.log
coverage

# Build directory
/public
.DS_Store

#Firebase config
.runtimeconfig.json

#CSUMB files
website-data/
.firebase
firebase-debug.log
style-guide
.env