# Project dependencies
.cache
node_modules
yarn-error.log
coverage

# Build directory
/public
.DS_Store

#Firebase config
.runtimeconfig.json

#CSUMB files
_web-content
_data
_functions
drive-api.json
.firebase
firebase-debug.log
style-guide

src/pages/__contentful